           *{
                margin: 0px;
                padding: 0px;
            }
            body{
                background-color: #0F292F;
            }
           .top{
                color: #CB2D6F;
                font-family:fantasy;
                letter-spacing: 10px;
                font-size: 50px;
               padding: 5%;
                 text-align: center;
                display: block;
                text-shadow: 0px 0px 100px white;
               border: 2px solid #DA7B93;
               box-shadow: 5px 8px 5px #DA7B93;
            }
            .container{
                box-shadow: 5px 5px 10px #29a19c;
                text-shadow: 0px 0px 100px white;
                text-align: center;
                display: block;
                padding: 1%;
                margin-top: 20px;
                margin-bottom: 40px;
            }
            .element1{
                box-shadow: 0px 0px 6px 2px #29a19c;
                transition: 0.5s;
                text-align: center;
                height: 400px;
                background-color: aliceblue;
            }
            #img1{
                width: 100%;
                height: 220px;
            }
            .element2{
                text-shadow: 0px 0px 100px white;
                text-align: center;
                color: #14A098;
                background-color: aliceblue;
            }
            .element2 h2{
                font-family: monospace;
                font-size: 40px;
                margin-top: -150px;
                margin-bottom: 30px;
            }
            .element2 p{
                font-family: monospace;
                font-size: 22px;
                margin-bottom: 10px;
            }
            .aboutme{
                box-shadow: 0px 0px 6px 2px #29a19c;
                text-align: center;
                border: 1px solid #29a19c;
                margin-top: 50px;
                background-color: rgba(240,248,255,1);
                color: rgb(235,89,33);
                opacity: 1;
                
            }
            .aboutme #img1{
                width: 80%;
                height: 220px;
                margin-bottom: 25px;
            }
            .aboutme h2{
                padding: 25px;
                font-family: Arial;
                font-size: 40px;
            }
            .aboutme p{
                font-size: 24px;
                font-family: round;
                text-shadow: 0px 0px 100px #29a19c;
                letter-spacing: .7px;
                padding: 5px;
                margin-bottom: 10px;
                line-height: 30px;
            }
            #map{
                box-shadow: 0px 0px 6px 2px #29a19c;
                display: block;
                width: 360px;
            }
            .institute{
                box-shadow: 0px 0px 6px 2px #29a19c;
                text-align: center;
                border: 1px solid #29a19c;
                margin-top: 30px;
                background-color: rgba(240,248,255,1);
                color: rgb(235,89,33);
                opacity: 1;
            }
            .institute h2{
                padding: 25px;
                font-family: Arial;
                font-size: 40px;
            }
            .institute #img2{
                width: 80%;
                height: 220px;
                margin-bottom: 25px;
            }
            .institute p{
                font-size: 24px;
                font-family: round;
                text-shadow: 0px 0px 100px #29a19c;
                letter-spacing: .7px;
                padding: 5px;
                margin-bottom: 10px;
                line-height: 30px;
            }
            .field{
        border:2px solid  pink;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        margin-top: 2em;
            
        width:340px;
        height:360px;
                align-self: center;
    }
    legend{
        background-color:deeppink; 
        color:aliceblue;
        font-size: 25px;
        border-radius: 5px;
    }
    #photo{
        width:325px;
        height:320px;
        border:2px solid  pink;
        margin-left: auto;
        background-image: url(bg1.jpg);
        background-size: 100% 100%;
        animation: gallery 33s infinite linear;
        box-shadow: 1px 2px 10px 5px white;
        animation-delay: 0.1s;
        transition: 0.8s ease;
        
    }
    
    @keyframes gallery{
        0%{background-image:  url("1.jpg");}
        9%{background-image:  url("2.jpg");}
        18%{background-image:  url("3.jpg");}
        27%{background-image: url(4.jpg);}
        36%{background-image: url(5.jpg);}
        45%{background-image: url(6.jpg);}
        54%{background-image: url(7.jpg);}
        63%{background-image: url(8.jpg);}
        72%{background-image: url(9.jpg);}
        81%{background-image: url(10.jpg);}
        90%{background-image: url(11.jpg);}
        99%{background-image: url(6.jpg);}
    }
            .idol{
                box-shadow: 0px 0px 6px 2px #29a19c;
                text-align: center;
                border: 1px solid #29a19c;
                margin-top: 30px;
                background-color: rgba(240,248,255,1);
                color: rgb(235,89,33);
                opacity: 1;
            }
            .idol h2{
                padding: 25px;
                font-family: Arial;
                font-size: 40px;
            }
            .idol #img3{
                width: 80%;
                height: 220px;
                margin-bottom: 25px;
            }
            .idol p{
                font-size: 24px;
                font-family: round;
                text-shadow: 0px 0px 100px #29a19c;
                letter-spacing: .7px;
                padding: 5px;
                margin-bottom: 10px;
                line-height: 30px;
            }
            .interests{
                box-shadow: 0px 0px 6px 2px #29a19c;
                text-align: center;
                border: 1px solid #29a19c;
                margin-top: 30px;
                background-color: rgba(240,248,255,1);
                color: rgb(235,89,33);
                opacity: 1;
            }
            .interests h2{
                padding: 25px;
                font-family: Arial;
                font-size: 40px;
            }
            .interests #img4{
                width: 80%;
                height: 220px;
                margin-bottom: 25px;
            }
            .interests p{
                font-size: 20px;
                font-family: round;
                text-shadow: 0px 0px 100px #29a19c;
                letter-spacing: .7px;
                padding: 5px;
                margin-bottom: 10px;
                line-height: 30px;
            }
            .icons{
                box-shadow: 0px 0px 6px 2px #29a19c;
                border: 1px solid #29a19c;
                margin-top: 30px;
                color: rgba(240,248,255,1);
                opacity: 1;
                text-align: center;
            }
            .icons h2{
                padding: 25px;
                font-family: Arial;
                font-size: 40px;
                color: rgb(235,89,33);
                text-align: center;
            }
            .icons li{
                display: inline-block;
                padding: 15px;
                font-size: 30px;
            }
            .icons a{
                text-decoration: unset;
                color: aliceblue;
            }
            .icons #fb:hover{
                box-shadow: 0px  0px 50px 10px blue;
                cursor: pointer;
            }
            .icons #insta:hover{
                box-shadow: 0px  0px 50px 10px orange;
                cursor: pointer;
            }
            .icons #whatsapp:hover{
                box-shadow: 0px  0px 50px 10px darkgreen;
                cursor: pointer;
            }
            .icons #mail:hover{
                box-shadow: 0px  0px 50px 10px skyblue;
                cursor: pointer;
            }
            .icons #youtube:hover{
                box-shadow: 0px  0px 50px 10px red;
                cursor: pointer;
            }
            .icons #git:hover{
                box-shadow: 0px  0px 50px 10px white;
                cursor: pointer;
            }